html body {
  background-color: #222;
}

.validator {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.text-to-test {
  height: 300px;
  width: 500px;
}

.validate {
  margin: 8px;
  background-color: #ff671f;
  height: 50px;
  border: 0;
  color: white;
  font-weight: 700;
  width: 150px;
}
